<!-- Footer -->
<div class="footer text-muted">
    &copy; 2019. <a href="#">Developed</a> by <a href="https://mercurysols.org" target="_blank">Mercury Sols</a>
</div>
<!-- /footer -->
            </div>
<!-- /content area -->
        </div>
<!-- /main content -->
    </div>
<!-- /page content -->
</div>
<div id="wait" class="loader">
    <img src="~/Content/assets/images/Infinity-1s-50px.svg" alt="loading" style="top: 50%; position: relative; left: 50%; overflow: hidden;" />
</div>